@import url(styles/cabecalho.css);
@import url(styles/parceria.css);
@import url(styles/propaganda.css);
@import url(styles/rodape.css);

:root {
    --fonte: 'Gabarito', 'cursive';
    --cor-primaria: #fff;
    --cor-secundaria: #fff0ed;
    --cor-rodape: #191919;
    --rodape-fonte: #919191;
}

body {
    font-family: var(--fonte);
}