.parceria {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    margin: 80px 25%;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 300px;
    text-align: center;
}

.card a{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--cor-link);
}

.card__titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.card__link-seta {
    font-size: 0.5rem;
}

.card a:hover{
    border-bottom: 1px var(--cor-link) solid;
    transition: 0.7;
}