.propaganda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto 15%;
}

.propaganda a{
    text-decoration: none;
    background: var(--cor-link);
    color: var(--cor-primaria);
    border-radius: 24px;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    width: fit-content;
}

.propaganda__imagem {
    width: 400px;
    height: 300px;
}

.propaganda__texto {
    width: 30%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.propaganda__texto-titulo {
    font-size: 1.6rem;
    font-weight: 700;
}

.inverso {
    flex-direction: row-reverse;
    background-color: var(--cor-secundaria);
    margin: -25px 0 0 0;
    padding: 75px 15%;

}

.propaganda a:hover {
    transform: scale(1.1);
}